<div class="col-xs-12">
    <h1>Do you have a collection? Register now to show it off!!!</h1>
</div>
<div class="aboutCollections">
    <h6 class="collections">Check out this collection</h6>
    <br>
    <br>
    <div id="collectionsDiv" class="container-fluid">
        <img nopin="nopin" src="css/images/footerImages/img1.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img10.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img11.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img12.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img13.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img14.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img15.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img16.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img17.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img18.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img19.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img2.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img20.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img3.jpg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img4.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img5.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img6.png" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img7.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img8.jpeg" alt="" class="collectionPhotos">
        <img nopin="nopin" src="css/images/footerImages/img9.jpeg" alt="" class="collectionPhotos">
    </div>
</div>
</main>