<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>New Post</h1>
    </div>
    <form>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="title">Item Title</label>
                <input type="text" id="title" class="form-control">
            </div>
            <div>
                <label for="body">Item Description</label>
                <textarea class="form-control postBody" rows="16"></textarea>
            </div>
            <div class="form-group">
                <label for="image">Image Url</label>
                <input type="image" id="image" class="form-control">
            </div>
            <br>
            <button class="center-block btn btn-warning btn-block" ng-click="">Post</button>
    </form>
    </div>