.my-img {
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}

.my-fig {
    font-weight: bold;
    font-size: 16px;
}

.fig-margin {
    margin-bottom: 40px;
}

.first-fig {
    margin-top: 15px;
}

.first-edit {
    margin-top: 10px;
}

.my-coll {
    font-weight: bold;
    font-size: 20px;
}

.center-block {
    margin-bottom: 100px !important;
}

.my-container {
    height: 100px;
}

.form-fix {
    display: inline;
    width: 40%;
    height: 25px;

}

.my-figure {
    height: 490px;
}

.name-margin {
    margin-right: -25px;
}

.value-margin {
    margin-right: -28px;
}