<div class="row myCollections">
    <div ng-repeat="item in myItems" class="col-xs-4 col-md-4 text-center">
        <figure>
            <img src="{{ item.itemImageUrl }}" alt="..." class="img1 img-circle">
            <figcaption class="my-coll first-fig">Name: {{ item.itemName }}</figcaption>
            <figcaption class="my-coll">Value: {{ item.itemValue | currency }}</figcaption>
            <figcaption class="my-coll">Condition: {{ item.itemCondition}}</figcaption>
            <figcaption class="my-coll">Collection: {{ item.itemCollection}}</figcaption>
        </figure>
    </div>
</div>