<div class="row">
    <div class="col-md-3 text-center" ng-repeat="item in allItems">
        <figure class="fig-margin">
            <img class="my-img" src="{{item.itemImageUrl}}">
            <figcaption class="my-fig first-fig">Item Name: {{item.itemName}}</figcaption>
            <figcaption class="my-fig">Item Condition: {{item.itemCondition}}</figcaption>
            <figcaption class="my-fig">Estimated Value: {{item.itemValue | currency}}</figcaption>

        </figure>
    </div>
</div>